@import "tailwindcss";

:root {
  --background: #f7f6f2;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #d8b4fe;
  color: #171717;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f6f2;
}

::-webkit-scrollbar-thumb {
  background: #a78bfa;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}